<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tokopaedi</title>
</head>

<body>
  <h3>Tokopaedi Admin Page</h3>
  <a href="/admin">
    <button>Home</button>
  </a>

  <a href="/products">
    <button>Products</button>
  </a>

  <a href="/users">
    <button>User list</button>
  </a>
  <hr>

  <h2>Add Product</h2>

  <form action="/admin/add">
        <p>Product name</p>
        <input type="text" name="name">

        <p>Product stock</p>
        <input type="number" name="stock">

        <p>Product price</p>
        <input type="number" name="price">

        <p>Product description</p>
        <textarea name="description" cols="30" rows="10"></textarea>

        <p>Product Category</p>
        <select name="CategoryId">
          <option selected disabled=" ">Choose a category</option>
          <% categories.forEach(category => { %>
            <option value="<%=category.id%>"><%=category.name%></option>

          <% }) %>
        </select><br><br>

        <input type="submit" value="Add product">
  </form>
  
</body>

</html>