<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tokopaedi</title>
</head>

<body>
  <h3>Tokopaedi</h3>
  <a href="/">
    <button>Home</button>
  </a>

  <a href="/products">
    <button>Products</button>
  </a>

  <a href="/admin">
    <button>Admin page</button>
  </a>
  <hr>

  <table border=1>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Price</th>
      <th> </th>
    </tr>
    <% products.forEach((product, i)=> { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td>
          <a href="/products/<%=product.id%>">
            <button>Detail</button>
          </a>
        </td>
      <% }) %>
  </table>

</body>

</html>